/* általános style-ok */

.flexCenter{
	display: flex;
	justify-content: center;
	align-items: center;
}

.marginCenter{
	margin-left: auto;
	margin-right: auto;
	background-color: yellow;	
}


/* első képernyő */

.pizzaPic{
	height: 100vh;
	background-image: url("tempBG.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	/* background-color: purple;	 */
/* 	background-color: red; */


	.nameContainer{
		position: fixed;
	/* 	background-color: royalblue; */
		height: 100vh;
		width: 100vw;

		span{
			font-size: 550%;
			color: white;
			text-shadow: 0px 0px 10px black;
		}
	}
}

/* második képernyő */

.introduction{
	height:120vh;
	background-color: rgb(22, 22, 22);
	color: whitesmoke
}
.descriptionContainer{
	position: fixed;
	top: 0px;

	height: 100vh;
	width: 99vw;



	
	p{
		width: 50%;
	}
}

/* harmadik képernyő */

.pizzaListContainer{
	padding: 10px;
	background-color: lightseagreen;
	.pizzaCards{
		display: grid;
		grid-template-columns: repeat(2 , 1fr);

	}
}

.pizzaCardContainer{
	background-color: whitesmoke;

	margin: 10px;
	border-radius: 4px;
}