@charset "UTF-8";
/* import-ok*/
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=New+Tegomin&display=swap");
* {
  margin: 0;
  padding: 0;
}

/* általános style-ok */
body {
  overflow-x: hidden;
  /* 	position: relative; */
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.marginCenter {
  margin-left: auto;
  margin-right: auto;
  background-color: yellow;
}

.main-background {
  height: 100vh;
  width: 100vmax;
  top: 0;
  background-image: url("../img/304643.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  overflow: hidden;
}

.mainHead {
  position: fixed;
  width: 100%;
  height: 5vh;
  background-color: rgba(1, 4, 0, 0.5);
  z-index: 55;
}

.scrolledDiv {
  padding: 5vh;
  overflow: hidden;
  /* 	background-color: red; */
  position: relative;
  /* sajnos csak overflow-scroll-al műkdödik, ami valamiért akadályozz a scroll-t */
  /* 	 overflow-y: scroll; 
  scroll-snap-type: mandatory;
   scroll-snap-points-y: repeat(100vh);
   scroll-snap-type: y mandatory; */
}

/* első képernyő */
.backgroundPic {
  height: 100vh;
  scroll-snap-align: start;
  /* 	.mainBgColor{
  		 position:absolute;

  		 height: 100vh;
  		 width: 100vw;
  	} */
}
.backgroundPic .pizzaPic {
  height: 100vh;
  width: 99vw;
  /* 		position: absolute;  */
  background-image: url("../img/pizza-main.png");
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 3;
  top: 0;
}
.backgroundPic .nameContainer {
  position: fixed;
  font-family: "Lobster", cursive;
  /* 	background-color: royalblue; */
  height: 100vh;
  width: 100vw;
  z-index: 5;
  flex-direction: column;
}
.backgroundPic .nameContainer div {
  transform: translateY(-10%);
  font-size: 12vw;
  /* 	mobilnézetben nagyobb kell majd */
  color: white;
  text-shadow: 0px 0px 10px black;
}

/*-------------- második képernyő ----------------------*/
.introduction {
  scroll-snap-align: start;
  height: 100vh;
  /* 	background-image: url("../img/304643.jpg");  */
  /* 	background-repeat: no-repeat;
  	background-size: cover;
  	position: relative;
  	overflow: hidden;
  	transform: scaleY(-1); */
  height: 100vh;
  /* background-color: $darkgreen; */
  color: whitesmoke;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.descriptionContainer {
  position: absolute;
  width: 99vw;
}
.descriptionContainer p {
  width: 50%;
}

/* -----------------harmadik képernyő ----------------------*/
.pizzaListContainer {
  padding: 10px;
  width: 90%;
  margin: 0 auto;
  background-color: rgba(1, 4, 0, 0.3);
  border-radius: 1rem;
  position: relative;
}
.pizzaListContainer .pizzaListHead {
  font-size: 250%;
  font-weight: 700;
  color: #010400;
  letter-spacing: 0.3rem;
  padding: 0.5rem 0;
  width: 95%;
  margin: 0 auto 1.5rem;
  background-color: rgba(119, 13, 21, 0.5);
}
.pizzaListContainer .pizzaCards {
  font-family: "New Tegomin", serif;
}

/*----------------- pizzacard----------- */
.pizzaCardContainer {
  background-color: #eac435;
  margin: 10px;
  border-radius: 4px;
  border-radius: 5px;
  border: 3px solid black;
}
.pizzaCardContainer .pizzaName {
  font-size: 130%;
  color: whitesmoke;
  font-weight: bold;
  /* 		background-color: darken($red1, $amount: 8); */
  background-color: #010400;
  border: 2px solid white;
}
.pizzaCardContainer .pizzaToppings {
  padding: 0 10px;
  text-align: left;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 2.8rem;
}
.pizzaCardContainer .pizzaPrices {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 10px;
}
.pizzaCardContainer .pizzaPrices div {
  min-width: 110px;
  margin: 8px 5px;
  padding: 2px 5px;
  border-radius: 0.5rem;
  border: 2px solid black;
}

/* --------------MEDIA QUERY --------------------- */
@media only screen and (max-width: 768px) {
  .pizzaCards {
    padding: 0 3rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .pizzaCardContainer {
    margin: 20px 10px;
  }
  .pizzaCardContainer .pizzaToppings {
    justify-content: center;
    margin: 0 auto 10px auto;
  }
  .pizzaCardContainer .pizzaName {
    width: 70%;
    padding: 5px 2px 10px;
    transform: translate(0, -25%) rotate(-1deg);
    max-width: 300px;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 769px) {
  .pizzaCards {
    padding: 0 1vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .pizzaCardContainer {
    margin: 10px;
  }
  .pizzaCardContainer .pizzaToppings {
    justify-content: start;
    margin: 8px 0 10px 0;
  }
  .pizzaCardContainer .pizzaName {
    padding: 2px 2px 5px;
    width: 40%;
    transform: translate(-10px, -5px) rotate(-3deg);
  }
}
.modify {
  background-color: green;
}

/* --------------------negyedik képernyő  asztalok-------------*/
.tableBookContainer {
  margin: 6vh 0 0 0;
  position: relative;
  min-height: 100vh;
  /* 	background-color: rgb(22, 22, 22); */
  padding-top: 1rem;
}
.tableBookContainer .tableHead {
  margin: 0 0 6vh;
  font-size: 250%;
  font-weight: 800;
  background-color: #770d15;
}
.tableBookContainer .reserveTimeContainer {
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 0 10px 0;
  background-color: rgba(1, 4, 0, 0.3);
  color: whitesmoke;
  border: 2px solid white;
  border-radius: 15px;
}
.tableBookContainer .reserveTimeContainer .headRow {
  margin: 0 0 10px 0;
  font-size: 150%;
}
.tableBookContainer .reserveTimeContainer select, .tableBookContainer .reserveTimeContainer input {
  background-color: rgba(180, 0, 15, 0.5);
  color: white;
  border-radius: 10px;
  transform: scale(1.5);
  font-weight: bolder;
  text-align: center;
}
.tableBookContainer .reserveTimeContainer select {
  width: 50%;
}
.tableBookContainer .reserveTimeContainer select option {
  border: none;
}
.tableBookContainer .reserveTimeContainer select option:nth-child(even) {
  background-color: rgba(119, 13, 21, 0.5);
}
.tableBookContainer .reserveTimeContainer .dateInputContainer input {
  border-radius: 10px;
}
.tableBookContainer .tablesContainer {
  color: whitesmoke;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.tableBookContainer .tablesContainer .tryblock {
  height: 30vh;
  width: 30vw;
  background-color: green;
  margin: 10px;
}

.svgContainer {
  border-radius: 2rem;
  box-shadow: 1px 1px 5px #5b5b5b, -1px -1px 5px #000, inset 1px 1px 5px #5b5b5b, inset -1px -1px 5px #000;
  margin: 1rem;
}
.svgContainer svg {
  width: 350px;
  margin: 15px;
}

.tableAvilable:hover {
  background-color: lightcoral;
}

/* 	Megrendelőlap */
.modalOut {
  position: fixed;
  background-color: turquoise;
  height: 80vh;
  width: 80vw;
  top: 10vh;
  left: 10vw;
}
.modalOut .modalForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modalOut .modalForm input {
  width: 30%;
}