@charset "UTF-8";
/* általános style-ok */
body {
  overflow-x: hidden;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.marginCenter {
  margin-left: auto;
  margin-right: auto;
  background-color: yellow;
}

/* első képernyő */
.backgroundPic {
  height: 100vh;
  background-image: url("../img/304643.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.backgroundPic .pizzaPic {
  height: 100vh;
  width: 99vw;
  position: absolute;
  background-image: url("../img/pizza-main.png");
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 2;
  top: 0;
}
.backgroundPic .nameContainer {
  position: absolute;
  /* 	background-color: royalblue; */
  height: 100vh;
  width: 100vw;
  z-index: 5;
}
.backgroundPic .nameContainer span {
  font-size: 550%;
  color: white;
  text-shadow: 0px 0px 10px black;
}

/* második képernyő */
.introduction {
  z-index: 4;
  min-height: 110vh;
  background-color: #161616;
  color: whitesmoke;
  position: relative;
}

.descriptionContainer {
  position: absolute;
  top: 0px;
  height: 100vh;
  width: 99vw;
}
.descriptionContainer p {
  width: 50%;
}

/* harmadik képernyő */
.pizzaListContainer {
  padding: 10px;
  background-color: lightseagreen;
}
.pizzaListContainer .pizzaCards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.pizzaCardContainer {
  background-color: whitesmoke;
  margin: 10px;
  border-radius: 4px;
}

.modify {
  background-color: green;
}