@charset "UTF-8";
/* import-ok*/
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=New+Tegomin&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* általános style-ok */
body {
  overflow-x: hidden;
  /* 	position: relative; */
  scroll-behavior: smooth;
}

.flexCenter, .loadCover .loadContainer, .sucessCover .loadContainer, .sucessCover .sucessContainer, .modalContainer, .mainHead {
  display: flex;
  justify-content: center;
  align-items: center;
}

.marginCenter {
  margin-left: auto;
  margin-right: auto;
  background-color: yellow;
}

.tryRed {
  background-color: red;
}

.main-background {
  height: 100vh;
  width: 100vmax;
  top: 0;
  background-image: url("../img/304643.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  overflow: hidden;
}

.mainHead {
  position: fixed;
  width: 100%;
  height: 7vh;
  background-color: #010400;
  z-index: 55;
  color: white;
}
.mainHead .headCenter {
  margin: 0 0 0;
  height: 6.5vh;
  width: 250px;
  background-color: red;
  overflow: hidden;
}
.mainHead .headCenter .scrollBanner {
  display: flex;
  transition: ease-in-out 0.5s;
}
.mainHead .headCenter .scrollBanner div {
  height: 6vh;
  min-width: 250px;
  font-size: 150%;
  text-align: center;
  padding: 5px 0 0 0;
  font-weight: bolder;
}

.scrolledDiv {
  padding: 5vh;
  overflow: hidden;
  /* 	background-color: red; */
  position: relative;
  /* sajnos csak overflow-scroll-al műkdödik, ami valamiért akadályozz a scroll-t */
  /* 	 overflow-y: scroll; 
  scroll-snap-type: mandatory;
   scroll-snap-points-y: repeat(100vh);
   scroll-snap-type: y mandatory; */
}

/* első képernyő */
.backgroundPic {
  height: 100vh;
  scroll-snap-align: start;
  /* 	.mainBgColor{
  		 position:absolute;

  		 height: 100vh;
  		 width: 100vw;
  	} */
}
.backgroundPic .pizzaPic {
  height: 100vh;
  width: 99vw;
  max-width: 90;
  /* 		position: absolute;  */
  background-image: url("../img/pizza-main.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: 3;
  top: 0;
}
.backgroundPic .nameContainer {
  position: fixed;
  font-family: "Lobster", cursive;
  /* 	background-color: royalblue; */
  height: 100vh;
  width: 100vw;
  z-index: 5;
  flex-direction: column;
}
.backgroundPic .nameContainer div {
  transform: translateY(-10%);
  font-size: 12vw;
  /* 	mobilnézetben nagyobb kell majd */
  color: white;
  text-shadow: 0px 0px 10px black;
}

/*-------------- második képernyő ----------------------*/
.introduction {
  min-height: 100vh;
  color: whitesmoke;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  /* 	overflow: hidden; */
}

.descriptionContainer {
  position: absolute;
  width: 99vw;
}
/* -----------------harmadik képernyő ----------------------*/
.pizzaListContainer {
  padding: 10px;
  width: 90%;
  margin: 0 auto;
  /* background-color: rgba($black1, $alpha: .3) */
  border-radius: 1rem;
  position: relative;
}
.pizzaListContainer .pizzaListHead {
  font-size: 250%;
  font-weight: 700;
  color: #010400;
  letter-spacing: 0.3rem;
  padding: 0.5rem 0;
  width: 95%;
  margin: 0 auto 1.5rem;
  background-color: rgba(119, 13, 21, 0.5);
}
.pizzaListContainer .pizzaCards {
  font-family: "New Tegomin", serif;
}

/*----------------- pizzacard----------- */
.pizzaCardContainer {
  background-color: #eac435;
  margin: 10px;
  border-radius: 4px;
  border-radius: 5px;
  border: 3px solid black;
}
.pizzaCardContainer .pizzaName {
  font-size: 130%;
  color: whitesmoke;
  font-weight: bold;
  /* 		background-color: darken($red1, $amount: 8); */
  background-color: #010400;
  border: 2px solid white;
}
.pizzaCardContainer .pizzaToppings {
  padding: 0 10px;
  text-align: left;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 2.8rem;
}
.pizzaCardContainer .pizzaPrices {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 10px;
}
.pizzaCardContainer .pizzaPrices div {
  min-width: 110px;
  margin: 8px 5px;
  padding: 2px 5px;
  border-radius: 0.5rem;
  border: 2px solid black;
}

/* --------------------negyedik képernyő  asztalok-------------*/
.tableBookContainer {
  margin: 6vh 0 0 0;
  position: relative;
  min-height: 100vh;
  /* 	background-color: rgb(22, 22, 22); */
  padding-top: 1rem;
}
.tableBookContainer .tableHead {
  margin: 0 0 6vh;
  font-size: 250%;
  font-weight: 800;
  background-color: #770d15;
}
.tableBookContainer .reserveTimeContainer {
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 0 10px 0;
  background-color: rgba(1, 4, 0, 0.3);
  color: whitesmoke;
  border: 2px solid white;
  border-radius: 15px;
}
.tableBookContainer .reserveTimeContainer .headRow {
  margin: 0 0 10px 0;
  font-size: 150%;
}
.tableBookContainer .reserveTimeContainer select, .tableBookContainer .reserveTimeContainer input {
  background-color: rgba(180, 0, 15, 0.5);
  color: white;
  border: none;
  border-radius: 10px;
  transform: scale(1.5);
  font-weight: bolder;
  text-align: center;
}
.tableBookContainer .reserveTimeContainer select {
  width: 50%;
}
.tableBookContainer .reserveTimeContainer select option {
  border: none;
}
.tableBookContainer .reserveTimeContainer select option:nth-child(even) {
  background-color: rgba(119, 13, 21, 0.5);
}
.tableBookContainer .reserveTimeContainer .dateInputContainer input {
  border-radius: 10px;
}
.tableBookContainer .tablesContainer {
  color: whitesmoke;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.tableBookContainer .tablesContainer .tryblock {
  height: 30vh;
  width: 30vw;
  background-color: green;
  margin: 10px;
}

.svgContainer {
  border-radius: 2rem;
  background-color: rgba(1, 4, 0, 0.5);
  margin: 1rem;
  transition: ease-in-out 0.2s;
}
.svgContainer svg {
  height: 30vh;
  margin: 15px;
}

.tableAvilable {
  box-shadow: 5px 5px black;
  transform: translate(-5px, -5px);
  cursor: pointer;
}
.tableAvilable:hover {
  box-shadow: 2px 2px black;
  transform: translate(-2px, -2px);
  /* 	svg{
  		-webkit-filter: drop-shadow( 0px 0px 3px rgba(255, 255, 255, .7));
  		filter: drop-shadow( 0px 0px 3px rgba(255, 255, 255, .7));
  	} */
}
.tableAvilable:hover svg {
  stroke: white;
  stroke-width: 3;
  animation: tableAnimate 2s ease-in-out alternate infinite;
}
@keyframes tableAnimate {
  0% {
    fill: rgba(125, 184, 0, 0.9);
    stroke-dasharray: 0 50%;
    stroke-dashoffset: 20%;
  }
  100% {
    fill: rgba(125, 184, 0, 0.5);
    stroke-dasharray: 50% 0;
    stroke-dashoffset: -20%;
  }
}

.tryGreen {
  background-color: green;
}

/*--------------- 	Megrendelőlap, modal-------------------------- */
/*---inputfiels ----*/
.form__group {
  text-align: left;
  text-align: left;
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid whitesmoke;
  outline: 0;
  font-size: 1.3rem;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.form__field::placeholder {
  color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: whitesmoke;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #EAC435, #90a74c);
  border-image-slice: 1;
}
.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: rgba(234, 196, 53, 0.5);
  font-weight: 700;
}

/* reset input */
.form__field:required, .form__field:invalid {
  box-shadow: none;
}

/* ------------- */
.modalContainer {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0vh;
  left: 0vw;
  background-color: rgba(1, 4, 0, 0.8);
  z-index: 60;
}

.modalOut {
  display: flex;
  top: 7vw;
  left: 3vw;
}
.modalOut .pictureDiv {
  background-color: #770d15;
  height: 74vh;
  width: 45vw;
  background-image: url("../img/PizzaTableCrop.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.modalOut .pictureDiv .pictureCover {
  height: 100%;
  width: 100%;
  background-color: rgba(119, 13, 21, 0.5);
}
.modalOut .modalInputDiv {
  background-color: #90a74c;
  position: relative;
  /* height: 45vw;
  width: 45vw; */
  padding: 1vw;
  /* // height -widht : media query */
}
.modalOut .modalInputDiv h3 {
  margin: 5px 0 0;
  font-size: 2rem;
}
.modalOut .modalInputDiv h2 {
  font-size: 1.2rem;
}
.modalOut .modalInputDiv h2:nth-child(2) {
  /* 		background-color: red; */
  margin: 1.5vh 0 0;
}
.modalOut form {
  /* 
    background-color: $red2;     */
  height: 75%;
  margin-top: 1vh;
  padding: 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* 	input{
  		width: 30%;
  	} */
}
@media (max-width: 400px) {
  .modalOut form {
    height: 70%;
  }
}
.modalOut form button[type=submit] {
  margin-top: auto;
  padding: 1vh 1vw;
  border-radius: 2px;
  border: none;
  background: none;
  font-size: 150%;
  font-weight: 400;
  color: blue;
}
.modalOut form button[type=submit]:enabled {
  cursor: pointer;
  box-shadow: 2px 2px 2px 0px black;
}
.modalOut form button[type=submit]:disabled {
  transform: translate(-2px, -2px);
  border-top: 2px solid black;
  border-left: 2px solid black;
  color: grey;
}

.modalCloseButton {
  position: absolute;
  top: 1vh;
  right: 2vw;
  height: 30px;
  width: 30px;
  background: none;
  border: none;
  font-size: 250%;
  text-shadow: 0px 0px 1px white;
  font-weight: 800;
  color: transparent;
  cursor: pointer;
}

/* --------------MEDIA QUERY --------------------- */
@media only screen and (max-width: 768px) {
  .pizzaCards {
    padding: 0 0rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .pizzaCardContainer {
    margin: 20px 10px;
  }
  .pizzaCardContainer .pizzaToppings {
    justify-content: center;
    margin: 0 auto 10px auto;
  }
  .pizzaCardContainer .pizzaName {
    width: 70%;
    padding: 5px 2px 10px;
    transform: translate(0, -25%) rotate(-1deg);
    max-width: 300px;
    margin: 0 auto;
  }
}
/* //----- */
@media only screen and (min-width: 769px) {
  .pizzaCards {
    padding: 0 1vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .pizzaCardContainer {
    margin: 10px;
  }
  .pizzaCardContainer .pizzaToppings {
    justify-content: start;
    margin: 8px 0 10px 0;
  }
  .pizzaCardContainer .pizzaName {
    padding: 2px 2px 5px;
    width: 40%;
    transform: translate(-10px, -5px) rotate(-3deg);
  }
}
/* ------ */
@media only screen and (max-width: 992px) {
  .pictureDiv {
    display: none;
  }

  .modalInputDiv {
    height: 80vh;
    width: 80vw;
    max-width: 600px;
  }
}
/* ------ */
@media only screen and (min-width: 993px) {
  .modalInputDiv {
    height: 74vh;
    width: 45vw;
  }
}
/* ----- */
@media only screen and (max-width: 500px) {
  .form__group {
    min-width: 80%;
  }
}
@media only screen and (max-width: 400px) {
  .modalCloseButton {
    position: relative;
  }
}
.modify {
  background-color: green;
}

/* -----------LoadAnimantion------------------ */
.loadCover, .sucessCover {
  /* position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0vh;
  left: 0vw;
  background-color: rgba($black1, $alpha: .8);
  @extend .flexCenter; */
}
.loadCover .loadContainer, .sucessCover .loadContainer, .sucessCover .sucessContainer {
  background-color: red;
  width: 50vw;
  height: 50vh;
}

/* --------------------Done------------------*/