/* import-ok*/

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=New+Tegomin&display=swap');

$red1 : #770d15;
$red2 : #b4000f;
$green1: #90a74c;
$green2: #597718;

$darkgreen : #0C120C;
$black1: #010400;
$white1: #FFFBFC;
$yellow-brown: #F0C987;
$yellow2-brown: #EAC435;

*{
	margin: 0;
	padding: 0;
}

/* általános style-ok */
body{
	overflow-x: hidden;
/* 	position: relative; */
}

.flexCenter{
	display: flex;
	justify-content: center;
	align-items: center;
}

.marginCenter{
	margin-left: auto;
	margin-right: auto;
	background-color: yellow;	
}

.main-background{
	height: 100vh;
	width: 100vmax;
		top:0;
	 	background-image: url("../img/304643.jpg");  
		background-repeat: no-repeat;
		background-size: cover;
		position: fixed;
		overflow: hidden;
}

.mainHead{
	position: fixed;
	width: 100%;
	height: 5vh;
	background-color:  rgba($black1, $alpha: 0.5);
	z-index: 55;
}


.scrolledDiv{
	padding: 5vh;
	
	overflow: hidden;
/* 	background-color: red; */
	position: relative;
	


	/* sajnos csak overflow-scroll-al műkdödik, ami valamiért akadályozz a scroll-t */
 /* 	 overflow-y: scroll; 
	scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory; */

}

/* első képernyő */

.backgroundPic{
	height: 100vh;
	scroll-snap-align: start;

/* 	.mainBgColor{
		 position:absolute;
		
		 height: 100vh;
		 width: 100vw;
	} */
	.pizzaPic{
	
		height: 100vh;
		width: 99vw;


/* 		position: absolute;  */
		background-image: url("../img/pizza-main.png"); 
		background-size: 90%;
		background-repeat: no-repeat;
		background-position: center;
		z-index: 3;
		top:0
	}



	.nameContainer{
		position: fixed;
		font-family: 'Lobster', cursive;
	/* 	background-color: royalblue; */
		height: 100vh;
		width: 100vw;
		z-index: 5;
		flex-direction: column;
		div{
			
			transform: translateY(-10%);
			font-size: 12vw;
		/* 	mobilnézetben nagyobb kell majd */
			color: white;
			text-shadow: 0px 0px 10px black;
		}
	}
}

/*-------------- második képernyő ----------------------*/

.introduction{
	 scroll-snap-align: start; 
	height: 100vh;
/* 	background-image: url("../img/304643.jpg");  */
/* 	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	overflow: hidden;
	transform: scaleY(-1); */
	
	height: 100vh;
	/* background-color: $darkgreen; */
	color: whitesmoke ;
	position: relative ;
	display: flex;

	align-items: center;
	justify-content: center;
	overflow: hidden;

}
.descriptionContainer{
	position: absolute;
	width: 99vw;
	
	p{
		width: 50%;
	}
}

/* -----------------harmadik képernyő ----------------------*/

.pizzaListContainer{
	padding: 10px ;
	width: 90%;
	margin: 0 auto ;
 	background-color: rgba($black1, $alpha: .3);
	border-radius: 1rem;
	position: relative;
	.pizzaListHead{
		font-size: 250%;
		font-weight: 700;
		color: $black1;
		letter-spacing: 0.3rem;
		padding: .5rem 0;
		width: 95%;
		margin: 0 auto 1.5rem;
		background-color: rgba($red1, $alpha: .5);
	}
	.pizzaCards{
		font-family: 'New Tegomin', serif;


	
	
	}
}


/*----------------- pizzacard----------- */

.pizzaCardContainer{
	background-color: rgba($yellow2-brown, $alpha: 1);
	margin: 10px;
	border-radius: 4px;
	border-radius: 5px;
	border: 3px solid black;
	.pizzaName{
		font-size: 130%;
		color: whitesmoke;
		font-weight: bold;
		
	
/* 		background-color: darken($red1, $amount: 8); */
		background-color: $black1;
		border: 2px solid white
	}
	.pizzaToppings{
	  padding: 0 10px;
		text-align: left;
		width: 80%;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		min-height: 2.8rem;
		
	
	}
	.pizzaPrices{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		padding: 0 10px;;
	
		div{
			min-width: 110px;
			margin: 8px 5px;
			padding:  2px 5px;
			border-radius: .5rem;
			border: 2px solid black;
		}
	
	}
}

/* --------------MEDIA QUERY --------------------- */
@media only screen and (max-width: 768px) {
	.pizzaCards{
	 padding: 0 0rem;
	 display: grid;
	 grid-template-columns: repeat(1, 1fr);
	}

	.pizzaCardContainer{	
		margin: 20px 10px;
	.pizzaToppings{
		justify-content: center;

			margin: 0 auto 10px auto;
			
		}
	.pizzaName{
		width: 70%;
		padding: 5px 2px 10px;
		transform: translate(0, -25%) rotate(-1deg);
		max-width: 300px;
		margin: 0 auto;
	}
}
 }

@media only screen and (min-width: 769px) {
 .pizzaCards{
	padding: 0 1vw;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
 }

 .pizzaCardContainer{
	margin: 10px;
	.pizzaToppings{
		justify-content: start;
		margin: 8px 0 10px 0;
	}
 .pizzaName{
	padding: 2px 2px 5px;
	width: 40%;
	transform: translate(-10px, -5px) rotate(-3deg);
}
 }
}


.modify{
	background-color: green;
}

/* --------------------negyedik képernyő  asztalok-------------*/

.tableBookContainer {
	margin: 6vh 0 0 0;
	position: relative;
	min-height: 100vh;
/* 	background-color: rgb(22, 22, 22); */
padding-top: 1rem;
	.tableHead{
		margin: 0 0 6vh;
		font-size: 250%;
		font-weight: 800;
		background-color: $red1;
	}

	.reserveTimeContainer{
		height: 10vh;
		display: flex;
		justify-content: space-around;
		align-items: center;
		padding: 0 0 10px 0;

		background-color: rgba($black1, $alpha: .3);
		color: whitesmoke;
		border: 2px solid white;
		border-radius: 15px;
		.headRow{
			margin: 0 0 10px 0;
			font-size: 150%;
		}
		select,input{
			background-color: rgba($red2, $alpha: .5);
			color: white;
			border: none;
			border-radius: 10px;
			transform: scale(1.5);
			font-weight: bolder;
			text-align: center;
		}
		select{
			width: 50%;
			option{
				
				border: none;
				&:nth-child(even){
					background-color: rgba($red1, $alpha: .5);
					
				}
			}
		}
		.dateInputContainer{
			input{
				border-radius: 10px;
			}
		}

	}

	.tablesContainer{
		color: whitesmoke;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		.tryblock{
			height: 30vh;
			width: 30vw;
			background-color: green;
			margin: 10px;
		}
	}

	
}
//----------------------- TableDraws------------------------------



	.svgContainer{
		border-radius: 2rem;
		
		
		
		background-color: rgba($black1, $alpha: 0.5);
		margin:1rem;
		
	

		svg{
			
			height: 30vh;
			margin: 15px;
	
		}
	}

	.tableContainer{
	}

	.tableAvilable{
		box-shadow: 5px 5px black;
		transform: translate(-5px, -5px);
		cursor: pointer;
		&:hover{
			box-shadow: 2px 2px black;
			transform: translate(-2px, -2px);
			svg{
				-webkit-filter: drop-shadow( 0px 0px 3px rgba(255, 255, 255, .7));
				filter: drop-shadow( 0px 0px 3px rgba(255, 255, 255, .7));
			}
		}
	}

	.tableNotAvilable{
	
	}

	.tryGreen{
		background-color: green;
	}

/*--------------- 	Megrendelőlap, modal-------------------------- */

.modalOut{
	position: fixed;
	
	display: flex;
	top: 10vh;
	left: 6vw;
	.pictureDiv{
		background-color: $red1;
		height: 70vh;
		width: 40vw;
		padding: 1vw;
	}
	form{
		background-color: $red2;
		height: 70vh;
		width: 40vw;
		position: relative;
		padding: 1vw;
		display: flex;
		flex-direction: column;
		align-items: center;
		input{
			width: 30%;
		}
		.modalCloseButton{
			position: absolute;
			top: 3vh;
			right: 3vw;
			height: 30px;
			width: 30px;
			background: none;
			border:none;
			font-size: 250%;
			text-shadow: 0px 0px 1px white;
			font-weight: 800;
			color: transparent;
			cursor: pointer;
		}
	}
}

