/* import-ok*/

@import "./include";
/* @import url('https://fonts.googleapis.com/css2?family=Lobster&family=New+Tegomin&family=Noto+Sans:wght@400;700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Lobster&family=New+Tegomin&family=Noto+Sans:wght@400;700&family=Pangolin&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&family=Bowlby+One+SC&family=Lobster&family=New+Tegomin&family=Noto+Sans:wght@400;700&family=Pangolin&family=Racing+Sans+One&display=swap');



/*     font-family: 'Bowlby One', cursive;
    font-family: 'Bowlby One SC', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'New Tegomin', serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Pangolin', cursive;
    font-family: 'Racing Sans One', cursive; */

$red1 : #770d15;
$red2 : #b4000f;
$green1: #90a74c;
$green2: #597718;
$green3: #7db800;

$darkgreen : #0C120C;
$black1: #010400;
$white1: #FFFBFC;
$yellow-brown: #F0C987;
$yellow2-brown: #EAC435;


$breakpoints:(
	"medium": 600px,
	"large": 900px
);


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* általános style-ok */
body{
	overflow-x: hidden;
/* 	position: relative; */
font-family: 'Noto Sans', sans-serif;
}

html {
	scroll-behavior: smooth;
}

.flexCenter{
	display: flex;
	justify-content: center;
	align-items: center;
	
}

.marginCenter{
	margin-left: auto;
	margin-right: auto;
	background-color: yellow;	
}

.tryRed{
	background-color: red;
}


$breakpoints: (phone: 20em, tablet: 48em, desktop: 64em , );

.main-background{
	height: 100vh;
	width: 100vmax;
		top:0;
	 	background-image: url("../img/304643.jpg");  
		background-repeat: no-repeat;
		background-size: cover;
		position: fixed;
		overflow: hidden;
	
}

.mainCont{
	position: fixed;
	width: 100%;
 z-index: 80;
	.mainNameWrapper{
		position: relative;
		width: 100%;
		height: 7vh;
		
	}
}
.contactsHead{
	height: auto;
	width: 100%;
	position: absolute;
	background-color: rgba($black1, $alpha: .9);
	color: whitesmoke;
	display: flex;
	align-items: center;
	justify-content: space-between;
	transition: transform .5s ease-in-out;
	
	@include media("<600px"  , ) {
		flex-direction: column;
	}
	span{
		padding:  0.5rem 1rem;
		@include media("<600px"  , ) {
			padding:  0.2rem 1rem;
		}
	}

}

.mainHead{
	height: 7vh;
	position: absolute;
	width:100%;
	background-color:  rgba($black1, $alpha: 1);
	z-index: 55;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 2rem;
 	@include media("<610px"  , ) {
	padding: 0;
		} 

	
	.contactButton{
		min-width: 100px;

		color: rgba(whitesmoke, $alpha: .5);
		cursor: pointer;
		img{
			transform: translateY(5px) ;
			z-index: 100;
		
		}
	}
	.hideButton{
		@extend .contactButton;
	
		@include media("<610px"  , ) {
		display: none;
				}
		
	}
	.headCenter{
		margin: 0 auto;
		height: 6.5vh;
		width: 250px;
	 	/* background-color: red;  */
	
		overflow: hidden;
	
		
		.scrollBanner{
			display: flex;
			transition: ease-in-out .5s;
		
 			div{
				height: 6vh;
			
				min-width: 250px;
				font-size: 150%;
				text-align: center;
				padding: 10px 0 0 0 ;
				font-weight: bolder;
				@include media("<610px"  , ) {
					padding: 10px 0 0  1rem;
					text-align: left;
						} 
				@include media("<330px"  , ) {
							font-size: 120%;
								} 
				
				
			}
		}
	}
}


.scrolledDiv{
	padding: 4vw;
	
	overflow: hidden;
/* 	background-color: red; */
	position: relative;
	@include media("<500px") {
		padding: 0;
}
	


	/* sajnos csak overflow-scroll-al műkdödik, ami valamiért akadályozz a scroll-t */
 /* 	 overflow-y: scroll; 
	scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory; */

}

/* első képernyő */

.backgroundPic{
	height: 100vh;
	scroll-snap-align: start;

/* 	.mainBgColor{
		 position:absolute;
		
		 height: 100vh;
		 width: 100vw;
	} */
	.pizzaPic{
	
		height:	100vh;
		width: 99vw;
		max-width: 90;


/* 		position: absolute;  */
		background-image: url("../img/pizza-main.png"); 
	
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		z-index: 3;
		top:0
	}



	.nameContainer{
		position: fixed;
		font-family: 'Lobster', cursive;
	/* 	background-color: royalblue; */
		height: 100vh;
		width: 100vw;
		z-index: 5;
		flex-direction: column;
		.upHeader{
		
			@include media("<850px"  , ">600px" ) {
				
				font-size: 7em;
        transform: translateY(-25vh);
			}
			@include media("<=600px"  , ">450px" ) {
				font-size: 6em;
        transform: translateY(-20vh);
			}
			@include media("<=450px"  , ">350px" ) {
			
				font-size: 6em;
        transform: translateY(-16vh);
			}
			@include media("<=350px"  , ">100px" ) {
			
				font-size: 25vw;
        transform: translateY(-16vh);
			}
			
		}
		.downHeader{
			@include media("<850px"  , ">600px" ) {

				font-size: 7em;
        transform: translateY(25vh);
        }
				@include media("<=600px"  , ">450px" ) {
					font-size: 7em;
					transform: translateY(20vh);
				}
				@include media("<=450px"  , ">350px" ) {
				
					font-size: 7em;
					transform: translateY(16vh);
				}
				@include media("<=350px"  , ">100px" ) {
				
					font-size: 27vw;
					transform: translateY(16vh);
				}

		}
		div{
			
			transform: translateY(-10%);
			font-size: 12vw;
		/* 	mobilnézetben nagyobb kell majd */
			color: white;
			text-shadow: 0px 0px 10px black;
		}
	}
}

/*-------------- második képernyő ----------------------*/

.introduction{

	min-height: 100vh;

	

	color: whitesmoke ;
	position: relative ;
	display: flex;

	align-items: center;
	justify-content: center;
/* 	overflow: hidden; */


}
.descriptionContainer{
	position: absolute;
	width: 99vw;

	p{
	
	}
}

/* -----------------harmadik képernyő ----------------------*/

.pizzaListContainer{
	padding: 10px ;
	width: 90%;
	margin: 0 auto ;
 	/* background-color: rgba($black1, $alpha: .3) */;
	border-radius: 1rem;
	position: relative;
	.pizzaListHead{
		font-size: 250%;
		font-weight: 700;
		color: $black1;
		letter-spacing: 0.3rem;
		padding: .5rem 0;
		width: 95%;
		margin: 0 auto 1.5rem;
		background-color: rgba($red1, $alpha: .5);
	}
	.pizzaCards{
		font-family: 'New Tegomin', serif;


	
	
	}
}


/*----------------- pizzacard----------- */

.pizzaCardContainer{
	background-color: rgba($yellow2-brown, $alpha: 1);
	margin: 10px;
	border-radius: 4px;
	border-radius: 5px;
	border: 3px solid black;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	.pizzaName{
		font-size: 130%;
		color: whitesmoke;
		font-weight: bold;
		min-width: 200px;
		
	
/* 		background-color: darken($red1, $amount: 8); */
		background-color: $black1;
		border: 2px solid white
	}
	.pizzaToppings{
	font-family: 'Pangolin', cursive; 
		font-weight: lighter; 
	  padding: 0 10px;
		text-align: left;
		width: 80%;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		min-height: 2.8rem;
		
		
	}
	.pizzaPrices{
	
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		padding: 0 10px;
		/* background-color: red; */
		margin-bottom: 2px;
		
	
		div{
			min-width: 110px;
			margin: 5px 5px;
			padding:  2px 5px;
			border-radius: .5rem;
			border: 2px solid black;
		}
	
	}
}



/* --------------------negyedik képernyő  asztalok-------------*/

.tableBookContainer {
	margin: 6vh 0 0 0;
	position: relative;
	min-height: 100vh;
/* 	background-color: rgb(22, 22, 22); */
padding-top: 1rem;
	.tableHead{
		margin: 0 0 6vh;
		font-size: 250%;
		font-weight: 800;
		background-color: $red1;
	}

	.reserveTimeContainer{
		height: 12vh;
		display: flex;
		justify-content: space-around;
		align-items: center;
		padding: 5px 0 15px 0;
		
		background-color: rgba($black1, $alpha: .3);
		color: whitesmoke;
		border: 2px solid white;
		border-radius: 15px;
		margin: 0 0 5vh;
		@include media("<769px") {
			padding: 0 0 15px 0;
			height: auto;
			flex-direction: column;
			width: 80%;
			margin: 0 auto 5vh ;
			/* background-color: #bad; */
			padding: 10px 0 ;
			min-width: 250px;
		}
		div{
			@include media("<769px") {
			margin: 15px;
			}
		}
		.headRow{
			margin: 0 0 10px 0;
			font-size: 150%;
		}
		select,input{
		
			background-color: rgba($red2, $alpha: .5);
			color: white;
			border: none;
			border-radius: 10px;
			transform: scale(1.5);
			font-weight: bolder;
			text-align: center;
		

		}
		select{
			width: 50%;
			option{
				
				border: none;
				&:nth-child(even){
					background-color: rgba($red1, $alpha: .5);
					
				}
			}
		}
		.dateInputContainer{
			input{
				border-radius: 10px;
			}
		}

	}

	.tablesContainer{
		color: whitesmoke;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		/* background-color: red; */
		@include media("<769px") {
			margin-top: 5rem;
			}
	}

	
}
//----------------------- TableDraws------------------------------



	.svgContainer{
		border-radius: 2rem;
		background-color: rgba($black1, $alpha: 0.5);
		margin:1rem;
		transition:  ease-in-out .2s;
	
		.tableName{
				color: rgba($yellow-brown, $alpha: .7);
				transform: translateY(35px) scale(1.5);
				
				
		}

		svg{
			height: 250px;
			margin: 15px;
			@include media("<769px"  , ">600px") {
				height: 200px;

				}
		
			
		}
	}

	.tableContainer{
	}

	.tableAvilable{
		box-shadow: 5px 5px black;
		transform: translate(-5px, -5px);
		cursor: pointer;
		&:hover{
			box-shadow: 2px 2px black;
			transform: translate(-2px, -2px);
		/* 	svg{
				-webkit-filter: drop-shadow( 0px 0px 3px rgba(255, 255, 255, .7));
				filter: drop-shadow( 0px 0px 3px rgba(255, 255, 255, .7));
			} */
			svg{
			
				stroke: white;
				stroke-width: 3;
				animation: tableAnimate 2s ease-in-out alternate infinite;
			}
			.tableName{
			animation: lasMoment 1s ease-in-out alternate infinite;		
			}@keyframes lasMoment{
				0%{
					color:  rgba(#ab8d5f, $alpha: 0.8) #ab8d5f;
					transform: translateY(35px) scale(1.5);
				}
				100%{
					color:  rgba(#fdedd5, $alpha: .8);
					transform: translateY(33px) scale(1.6);
				}
			}

			@keyframes tableAnimate {
				0%{
					fill: rgba($green3, $alpha: .9);
					stroke-dasharray:0 50% ;
					stroke-dashoffset:20% ;
				}
				100%{
					fill: rgba($green3, $alpha: .5);
					stroke-dasharray: 50% 0 ;
					stroke-dashoffset:-20% ;
			
				}
			} 
		
		}
	}

	.tableNotAvilable{
	
	}

	.tryGreen{
		background-color: green;
	}

/*--------------- 	Megrendelőlap, modal-------------------------- */




/*---inputfiels ----*/





.form__group {


	text-align: left;

	text-align: left;
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
		@include media("<=500px") {
				min-width: 80%;
				
		}
		@include media("<=600px" , ">500px") {
			min-width: 70%;
			
		}
		@include media("<=700px" , ">600px") {
			min-width: 60%;
			
		}

}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid  $green1;
  outline: 0;
  font-size: 1.3rem;
  color: white;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: $green1;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: rgba($yellow2-brown, $alpha: .5);
    font-weight:700;    
  }
  padding-bottom: 6px;  
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, $yellow2-brown,$green1);
  border-image-slice: 1;
}
/* reset input */
.form__field{
  &:required,&:invalid { box-shadow:none; }
}




/* ------------- */
.modalContainer{
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0vh;
	left: 0vw;
	background-color: rgba($black1, $alpha: .8);
	@extend .flexCenter;
	z-index: 100;

}

.modalOut{
	
	
	display: flex;
	top: 7vw;
	left: 3vw;

	
	.pictureDiv{
		background-color: $red1;
		height: 74vh;
		width: 45vw;
	
		background-image: url("../img/PizzaTableCrop.jpg"); 
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		@include media("<=992px") {
			display: none;
	}

		.pictureCover{
			height: 100%;
			width: 100%;
			background-color: rgba($red1, $alpha: .5);
		}
	}
	.modalInputDiv{
		background-color: rgba(#69020b, $alpha: .8);
		position: relative;
		color: rgb(235, 194, 62);
		/* height: 45vw;
		width: 45vw; */
		padding: 1vw;
		@include media(">=992px") {
			height: 74vh;
		width: 45vw;
	}
	@include media("<=992px") {
		height: 80vh;
		width: 80vw;
		max-width: 600px;
}
		h3{
			margin: 5px 0 0 ;
			font-size: 2rem;
		}
		h2{
			font-size: 1.2rem;
			&:nth-child(3){
				/* ez miért lett három.... */
			/* 	background-color: red;  */
				margin: 1.5vh 0 0   ;
			}
		}
	}
	form{
		/* 
		  background-color: $red2;     */
		height: 75%;
		margin-top: 1vh;
		padding: 1vw;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		@include media("<=500px") {
			height: 70%;
	};
/* 	@include media("<=500px" , ">400") {
		height: 60%;
} */
	/* 	input{
			width: 30%;
		} */
		
		button[type="submit"]{
			margin-top: auto;
			padding: 1vh 1vw;	
			border-radius: 2px;
			border: none;
			background: none;
			font-size: 150%;
			font-weight: 400;
			color: $green1;
			&:enabled{
				cursor: pointer;
				box-shadow: 2px 2px 2px 0px black;
					&:hover{
						border-top: 2px solid rgba($green1, $alpha: .5);
						border-left: 2px solid rgba($green1, $alpha: .5);
					}
			}
			&:disabled{
				transform: translate(-2px, -2px);
				border-top: 2px solid black;
				border-left: 2px solid black;
				color: grey;			}
		}
		
	}
}

.modalCloseButton{
	
	position: absolute;
	top: 1.3vh;
	right: 2.5vw;
	height: 30px;
	width: 30px;
	background: none;
	border:none;
	font-size: 250%;
	
	font-weight: 600;
	font-family: 'Pangolin', cursive;
	color: white;

	cursor: pointer;
	transition: color .5s;
	transition: 0.5s;
	@include media("<=500px") {
		font-weight: 400;
		position: relative;
		margin-bottom: 2rem;
		height: 15px;
		width: 15px;
}

&:hover{
	transform: scale(1.2);
}
}

/* --------------MEDIA QUERY --------------------- */

/* ezeket majd később átalakítani inculde-ra */
@media only screen and (max-width: 768px) {
	.pizzaCards{
	 padding: 0 0rem;
	 display: grid;
	 grid-template-columns: repeat(1, 1fr);
	}

	.pizzaCardContainer{	
		margin: 20px 10px;
	.pizzaToppings{
		justify-content: center;

			margin: 0 auto 10px auto;
			
		}
	.pizzaName{
		width: 70%;
		padding: 5px 2px 10px;
		transform: translate(0, -25%) rotate(-1deg);
		max-width: 300px;
		margin: 0 auto;
	}
}

 

 
 }



/* //----- */




@media only screen and (min-width: 769px) {
 .pizzaCards{
	padding: 0 1vw;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
 }

 .pizzaCardContainer{
	margin: 10px;
	
	.pizzaToppings{
		justify-content: start;
		margin: 8px 0 10px 0;
	}
 .pizzaName{
	padding: 2px 2px 5px;
	width: 45%;
	transform: translate(-10px, -5px) rotate(-3deg);
}
 }
}

/* ------ */

@media only screen and (max-width: 992px){
	/* .pictureDiv{
		display: none;
	} */
/* 	.modalInputDiv{
		height: 80vh;
		width: 80vw;
		max-width: 600px;
	 } */
}

/* ------ */

@media only screen and (min-width: 992px){
/* 	.modalInputDiv{
		height: 74vh;
		width: 45vw;
	 } */
}

/* ----- */
/* @media only screen and (max-width:500px){
	.form__group{
	
		min-width: 80%;
	}
} */

/* @media only screen and (max-width:400px){
	.modalCloseButton{
		position: relative;
	}


} */







.modify{
	background-color: green;
}



/* -----------LoadAnimantion------------------ */

.loadCover{
	/* position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0vh;
	left: 0vw;
	background-color: rgba($black1, $alpha: .8);
	@extend .flexCenter; */
	
	.loadContainer{
	
		width: 50vw;
		height: 50vh;
		@extend .flexCenter; 
	}
	
}


/* ----------------másolt töltőképernyő---------- */

.loadingAnimWrapper{
	transform: scale(0.3);
	
	//Concepts from https://stackoverflow.com/questions/12813573/position-icons-into-circle
//https://codepen.io/thebabydino/pen/wzZKGX
$fs-pizza: 5em;
$n-pizza: 12;
$ba: 360deg/$n-pizza; // base angle
$d-ring: 8.25em; // ring diameter
$t: 2s; // animation duration
$bw: .5*$fs-pizza; // ring thickness
$tx: .5*($d-ring - $bw);


 

$n-pizza-center: 1;
$ba-center: 360deg/$n-pizza-center; // base angle

.rotating-pizza-center {
  top: 50%; 
  left: 50%;
  position: absolute;
  animation: rp-center .5*$n-pizza*$t linear infinite;
  //border: dashed 1px;
  //outline: 5px dotted green;
}

@keyframes rp-center { 0% { transform: rotate(-6turn); } }


$n-pizza-inner: 4;
$ba-inner: 360deg/$n-pizza-inner; // base angle

.rotating-pizza-inner {
  top: 50%; 
  left: 50%;
  position: absolute;
  animation: rp-inner .5*$n-pizza*$t linear infinite;
  //border: dashed 1px;
  //outline: 5px dotted green;
}

@keyframes rp-inner { 0% { transform: rotate(1turn); } }


.rotating-pizza {
  top: 50%; 
  left: 50%;
  position: absolute;
  animation: rp .5*$n-pizza*$t linear infinite;
  //border: dashed 1px;
  //outline: 5px dotted green;
  
  // &:after {
	// 	box-sizing: border-box;
	// 	margin: -.5*$d-ring;
	// 	border: solid $bw $c;
	// 	width: $d-ring; height: $d-ring;
	// 	box-shadow: $sh, inset $sh;
	// 	content: '';
	// }
}

@keyframes rp { 0% { transform: rotate(-2turn); } }

$n-pizza-outer: 20;
$ba-outer: 360deg/$n-pizza-outer; // base angle

.rotating-pizza-outer {
  top: 50%; 
  left: 50%;
  position: absolute;
  animation: rp-outer .5*$n-pizza-outer*$t linear infinite;
  //border: dashed 1px;
  //outline: 5px dotted green;
}

@keyframes rp-outer { 0% { transform: rotate(1.5turn); } }

.pizza {
  top: 50%; 
  left: 50%;
  position: absolute;
  font-size: 1px;

  @for $i from 0 to $n-pizza {
    &:nth-child(#{$i + 1}) {
      transform: rotate($i*$ba)
        				translate($tx + 220em) scale(100);
    }
  }
}

.pizza-center {
  top: 50%; 
  left: 50%;
  position: absolute;
  font-size: 1px;

  @for $i from 0 to $n-pizza-center {
    &:nth-child(#{$i + 1}) {
      transform: rotate($i*$ba-center)
        				scale(100);
    }
  }
}

.pizza-inner {
  top: 50%; 
  left: 50%;
  position: absolute;
  font-size: 1px;

  @for $i from 0 to $n-pizza-inner {
    &:nth-child(#{$i + 1}) {
      transform: rotate($i*$ba-inner)
        				translate($tx + 120em) scale(100);
    }
  }
}

.pizza-outer {
  top: 50%; 
  left: 50%;
  position: absolute;
  font-size: 1px;

  @for $i from 0 to 20 {
    &:nth-child(#{$i + 1}) {
      transform: rotate($i*$ba-outer)
        				translate($tx + 320em) scale(100);
    }
  }
}
}

/* --------------------Done------------------*/

.sucessCover{
	 @extend .loadCover; 
	 .sucessContainer{
		 background-image: url("../img/Affirmative.jpg");
		 background-size: contain;
		 background-repeat: no-repeat;
	
		 @extend.loadContainer;
		 animation: byeAnim 3s ease-in-out alternate  infinite;
	}
	@keyframes byeAnim {
		0%{
			transform: scale(1);
			filter: blur(0px);
		}
		65%{
			transform: scale(1);
			filter: blur(0px);
		}
		100%{
			transform: scale(1.2);
			filter: blur(5px);
		}

	}


}


/* -----------------ParallaxHead-------------------- */

.parallaxHeadCont{
	
	.pHeadInnerDiv{
		
		.pHeadText1{
		    font-family: 'Racing Sans One', cursive; 
			 font-weight:800;
			color: rgba(white, $alpha: 0.2);
		 }
	}
}
