/* import-ok*/

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=New+Tegomin&display=swap');

$red1 : #770d15;
$red2 : #b4000f;
$green1: #90a74c;
$green2: #597718;

$darkgreen : #0C120C;
$black1: #010400;
$white1: #FFFBFC;
$yellow-brown: #F0C987;



/* általános style-ok */
body{
	overflow-x: hidden;
	position: relative;
}

.flexCenter{
	display: flex;
	justify-content: center;
	align-items: center;
}

.marginCenter{
	margin-left: auto;
	margin-right: auto;
	background-color: yellow;	
}

.main-background{
	height: 100vh;
	width: 100vmax;
		top:0;
	 	background-image: url("../img/304643.jpg");  
		background-repeat: no-repeat;
		background-size: cover;
		position: fixed;
		overflow: hidden;
}

.scrolledDiv{
	height: 100vh;

	/* sajnos csak overflow-scroll-al műkdödik, ami valamiért akadályozz a scroll-t */
 /* 	 overflow-y: scroll; 
	scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory; */

}

/* első képernyő */

.backgroundPic{
	height: 100vh;
	scroll-snap-align: start;

/* 	.mainBgColor{
		 position:absolute;
		
		 height: 100vh;
		 width: 100vw;
	} */
	.pizzaPic{
	
		height: 100vh;
		width: 99vw;


/* 		position: absolute;  */
		background-image: url("../img/pizza-main.png"); 
		background-size: 90%;
		background-repeat: no-repeat;
		background-position: center;
		z-index: 3;
		top:0
	}



	.nameContainer{
		position: fixed;
		font-family: 'Lobster', cursive;
	/* 	background-color: royalblue; */
		height: 100vh;
		width: 100vw;
		z-index: 5;
		flex-direction: column;
		div{
			
			transform: translateY(-10%);
			font-size: 12vw;
		/* 	mobilnézetben nagyobb kell majd */
			color: white;
			text-shadow: 0px 0px 10px black;
		}
	}
}

/* második képernyő */

.introduction{
	 scroll-snap-align: start; 
	height: 100vh;
/* 	background-image: url("../img/304643.jpg");  */
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	overflow: hidden;
	transform: scaleY(-1);
	
	height: 100vh;
	/* background-color: $darkgreen; */
	color: whitesmoke ;
	position: relative ;
	display: flex;

	align-items: center;
	justify-content: center;
	overflow: hidden;

}
.descriptionContainer{

	position: absolute;



	width: 99vw;



	
	p{
		width: 50%;
	}
}

/* harmadik képernyő */

.pizzaListContainer{
	padding: 10px;

/* 	background-color:$red2; */
	position: relative;
	.pizzaCards{
		font-family: 'New Tegomin', serif;


	
	
	}
}

@media only screen and (max-width: 768px) {
	.pizzaCards{
	 padding: 0 3rem;
	 display: grid;
	 grid-template-columns: repeat(1, 1fr);
		background-color: green; 
 
	}
 }

@media only screen and (min-width: 768px) {
 .pizzaCards{
	padding: 0;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	 background-color: red; 

 }
}


/*------- pizzacard----------- */

.pizzaCardContainer{
	background-color: $yellow-brown;
	margin: 10px;
	border-radius: 4px;
	border: 3px solid black;
	.pizzaName{
		font-size: 130%;
		color: whitesmoke;
		font-weight: bold;
		padding: 2px 2px 5px;
		width: 40%;
		background-color:$black1;
		transform: translate(-10px, -5px) rotate(-3deg);
		border: 2px solid white
	}
	.pizzaToppings{
	  padding: 0 10px;
		text-align: left;
		width: 80%;
		margin: 0 0 10px 0;
	
	}
	.pizzaPrices{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		padding: 0 10px;;
	
		div{
			min-width: 110px;
			margin: 8px 5px;
			padding:  2px 5px;
			border-radius: .5rem;
			border: 2px solid black;
		}
	
	}
}

.modify{
	background-color: green;
}

/* negyedik képernyő  asztalok*/

.tableBookContainer {
	position: relative;
	min-height: 100vh;
/* 	background-color: rgb(22, 22, 22); */
	
	padding-top: 1rem;
	.tablesContainer{
		color: whitesmoke;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		.tryblock{
			height: 30vh;
			width: 30vw;
			background-color: green;
			margin: 10px;
		}
	}

	
}
// TableDraws



	.svgContainer{
		border-radius: 2rem;
		box-shadow: 1px 1px 5px #5b5b5b, -1px -1px 5px #000, inset 1px 1px 5px #5b5b5b, inset -1px -1px 5px #000;
		
		
		margin:1rem;
		
		svg{
			
			width: 350px;
			margin: 15px;
		}
	}



	.tableAvilable{
		&:hover{
			background-color: lightcoral;
		}
	}

	.tableNotAvilable{
	
	}


/* 	Megrendelőlap */

.modalOut{
	position: fixed;
	background-color: turquoise;
	height: 80vh;
	width: 80vw;
	top: 10vh;
	left: 10vw;
	.modalForm{
		display: flex;
		flex-direction: column;
		align-items: center;
		input{
			width: 30%;
		}
	}
}

