/* általános style-ok */
body{
	overflow-x: hidden;
}

.flexCenter{
	display: flex;
	justify-content: center;
	align-items: center;
}

.marginCenter{
	margin-left: auto;
	margin-right: auto;
	background-color: yellow;	
}


/* első képernyő */

.backgroundPic{
	height: 100vh;
	background-image: url("../img/304643.jpg"); 
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	overflow: hidden;
	.mainBgColor{
		 position:absolute;
		
		 height: 100vh;
		 width: 100vw;
	}
	.pizzaPic{
	
		height: 100vh;
		width: 99vw;


		position: absolute;
		background-image: url("../img/pizza-main.png"); 
		background-size: 90%;
		background-repeat: no-repeat;
		background-position: center;
		z-index: 3;
		top:0
	}



	.nameContainer{
		position: absolute;
	/* 	background-color: royalblue; */
		height: 100vh;
		width: 100vw;
		z-index: 5;

		span{
			font-size: 550%;
			color: white;
			text-shadow: 0px 0px 10px black;
		}
	}
}

/* második képernyő */

.introduction{

	
	height: 100vh;
	background-color: rgb(22, 22, 22);
	color: whitesmoke ;
	position: relative ;
	display: flex;

	align-items: center;
	justify-content: center;
	overflow: hidden;

}
.descriptionContainer{
	position: absolute;



	width: 99vw;



	
	p{
		width: 50%;
	}
}

/* harmadik képernyő */

.pizzaListContainer{
	padding: 10px;
	background-color: lightseagreen;
	.pizzaCards{
		display: grid;
		grid-template-columns: repeat(2 , 1fr);

	}
}

.pizzaCardContainer{
	background-color: whitesmoke;

	margin: 10px;
	border-radius: 4px;
}

.modify{
	background-color: green;
}

/* negyedik képernyő  asztalok*/

.tableBookContainer {
	min-height: 100vh;
	background-color: rgb(22, 22, 22);
	
	padding-top: 1rem;
	.tablesContainer{
		color: whitesmoke;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		.tryblock{
			height: 30vh;
			width: 30vw;
			background-color: green;
			margin: 10px;
		}
	}

	
}

.tabDiv{

	.svgContainer{
		border: 3px solid rgba($color: #fff, $alpha: .3);
		border-radius: 1rem;
		
		
		margin:1rem;
		svg{
			width: 350px;
			margin: 10px;
		}
	}
}