/* import-ok*/

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=New+Tegomin&display=swap');

$red1 : #770d15;
$red2 : #b4000f;
$green1: #90a74c;
$green2: #597718;

$darkgreen : #0C120C;
$black1: #010400;
$white1: #FFFBFC;
$yellow-brown: #F0C987;



/* általános style-ok */
body{
	overflow-x: hidden;
}

.flexCenter{
	display: flex;
	justify-content: center;
	align-items: center;
}

.marginCenter{
	margin-left: auto;
	margin-right: auto;
	background-color: yellow;	
}


/* első képernyő */

.backgroundPic{
	height: 100vh;
	background-image: url("../img/304643.jpg"); 
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	overflow: hidden;
	.mainBgColor{
		 position:absolute;
		
		 height: 100vh;
		 width: 100vw;
	}
	.pizzaPic{
	
		height: 100vh;
		width: 99vw;


		position: absolute;
		background-image: url("../img/pizza-main.png"); 
		background-size: 90%;
		background-repeat: no-repeat;
		background-position: center;
		z-index: 3;
		top:0
	}



	.nameContainer{
		position: absolute;
		font-family: 'Lobster', cursive;
	/* 	background-color: royalblue; */
		height: 100vh;
		width: 100vw;
		z-index: 5;
		flex-direction: column;
		div{
			
			transform: translateY(-10%);
			font-size: 12vw;
		/* 	mobilnézetben nagyobb kell majd */
			color: white;
			text-shadow: 0px 0px 10px black;
		}
	}
}

/* második képernyő */

.introduction{

	
	height: 100vh;
	background-color: $darkgreen;
	color: whitesmoke ;
	position: relative ;
	display: flex;

	align-items: center;
	justify-content: center;
	overflow: hidden;

}
.descriptionContainer{
	position: absolute;



	width: 99vw;



	
	p{
		width: 50%;
	}
}

/* harmadik képernyő */

.pizzaListContainer{
	padding: 10px;
	background-color:$red2;
	.pizzaCards{
		font-family: 'New Tegomin', serif;
		display: grid;
		grid-template-columns: repeat(2 , 1fr);
		
	}
}
/* pizzacard */

.pizzaCardContainer{
	background-color: $yellow-brown;
	margin: 10px;
	border-radius: 4px;
	border: 3px solid black;
	.pizzaName{
		font-size: 130%;
		color: whitesmoke;
		font-weight: bold;
		padding: 2px 2px 5px;
		width: 40%;
		background-color:$black1;
		transform: translate(-10px, -5px) rotate(-3deg);
		border: 2px solid white
	}
	.pizzaToppings{
	  padding: 0 10px;
		text-align: left;
		width: 80%;
		margin: 0 0 10px 0;
	
	}
	.pizzaPrices{
		display: flex;
		justify-content: space-around;
		padding: 5px 0  ;
	
	}
}

.modify{
	background-color: green;
}

/* negyedik képernyő  asztalok*/

.tableBookContainer {
	min-height: 100vh;
	background-color: rgb(22, 22, 22);
	
	padding-top: 1rem;
	.tablesContainer{
		color: whitesmoke;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		.tryblock{
			height: 30vh;
			width: 30vw;
			background-color: green;
			margin: 10px;
		}
	}

	
}
// TableDraws



	.svgContainer{
		border-radius: 2rem;
		box-shadow: 1px 1px 5px #5b5b5b, -1px -1px 5px #000, inset 1px 1px 5px #5b5b5b, inset -1px -1px 5px #000;
		
		
		margin:1rem;
		
		svg{
			
			width: 350px;
			margin: 15px;
		}
	}



	.tableAvilable{
		&:hover{
			background-color: lightcoral;
		}
	}

	.tableNotAvilable{
	
	}


/* 	Megrendelőlap */

.modalOut{
	position: fixed;
	background-color: turquoise;
	height: 80vh;
	width: 80vw;
	top: 10vh;
	left: 10vw;
	.modalForm{
		display: flex;
		flex-direction: column;
		align-items: center;
		input{
			width: 30%;
		}
	}
}

